*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  font-family: var(--ae-font-family-base);
  font-size: var(--ae-text-size-base);
  line-height: var(--ae-text-leading-base);
  color: var(--ae-color-text-default);
  background-color: var(--ae-color-bg-base);
}

body {
  margin: 0;
  color: var(--ae-color-text-default);
  background-color: var(--ae-color-bg-base);
}

button,
input,
textarea,
select {
  font: inherit;
}
